Apriori

In [1]:
# Apriori is a algorithm used to extract frequent sets in transactions

#eg: Grocery store transactions
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [2]:
# Apriori needs data to be one-hot coded

import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)

df

   Apple   Corn   Dill   Eggs  Ice cream  ...   Milk  Nutmeg  Onion  Unicorn  Yogurt
0  False  False  False   True      False  ...   True    True   True    False    True
1  False  False   True   True      False  ...  False    True   True    False    True
2   True  False  False   True      False  ...   True   False  False    False   False
3  False   True  False  False      False  ...   True   False  False     True    True
4  False   True  False   True       True  ...  False   False   True    False   False

[5 rows x 11 columns]

In [9]:
# return the items and itemsets with min support of 60%

# Support of an item(sets) = number_of_time_item_exist_in_transaction / total_transactions

from mlxtend.frequent_patterns import apriori

frequent_itemsets = apriori(df, min_support=0.6)

# by default, return the support and indices of items eg: egg is index 3
frequent_itemsets

    support   itemsets
0       0.8        (3)
1       1.0        (5)
2       0.6        (6)
3       0.6        (8)
4       0.6       (10)
5       0.8     (3, 5)
6       0.6     (8, 3)
7       0.6     (5, 6)
8       0.6     (8, 5)
9       0.6    (10, 5)
10      0.6  (8, 3, 5)

In [11]:
# more human-friendly
frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)

frequent_itemsets

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Eggs, Kidney Beans)
6       0.6                (Eggs, Onion)
7       0.6         (Milk, Kidney Beans)
8       0.6        (Onion, Kidney Beans)
9       0.6       (Yogurt, Kidney Beans)
10      0.6  (Eggs, Onion, Kidney Beans)

In [13]:
# since we're using Pandas dataframe, we can select and filter result

# Add length column
frequent_itemsets['lengths'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))

frequent_itemsets

    support                     itemsets  lengths
0       0.8                       (Eggs)        1
1       1.0               (Kidney Beans)        1
2       0.6                       (Milk)        1
3       0.6                      (Onion)        1
4       0.6                     (Yogurt)        1
5       0.8         (Eggs, Kidney Beans)        2
6       0.6                (Eggs, Onion)        2
7       0.6         (Milk, Kidney Beans)        2
8       0.6        (Onion, Kidney Beans)        2
9       0.6       (Yogurt, Kidney Beans)        2
10      0.6  (Eggs, Onion, Kidney Beans)        3

In [16]:
# Get itemset with length = 2 and min support = 0.8

desired_itemsets = frequent_itemsets[(frequent_itemsets['lengths'] == 2 ) & (frequent_itemsets['support'] >= 0.8)]

desired_itemsets

   support              itemsets  lengths
5      0.8  (Eggs, Kidney Beans)        2

In [22]:
# Get itemset based on column values

desired_itemsets = frequent_itemsets[
    frequent_itemsets["itemsets"] == {"Eggs", "Onion"} # or {'Onion', 'Eggs'}
]  

desired_itemsets

   support       itemsets  lengths
6      0.6  (Eggs, Onion)        2