Apriori

In [1]:
# Apriori is a algorithm used to extract frequent sets in transactions

#eg: Grocery store transactions
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [2]:
# Apriori needs data to be one-hot coded

import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)

df

   Apple   Corn   Dill   Eggs  Ice cream  ...   Milk  Nutmeg  Onion  Unicorn  Yogurt
0  False  False  False   True      False  ...   True    True   True    False    True
1  False  False   True   True      False  ...  False    True   True    False    True
2   True  False  False   True      False  ...   True   False  False    False   False
3  False   True  False  False      False  ...   True   False  False     True    True
4  False   True  False   True       True  ...  False   False   True    False   False

[5 rows x 11 columns]

In [9]:
# return the items and itemsets with min support of 60%

# Support of an item(sets) = number_of_time_item_exist_in_transaction / total_transactions

from mlxtend.frequent_patterns import apriori

frequent_itemsets = apriori(df, min_support=0.6)

# by default, return the support and indices of items eg: egg is index 3
frequent_itemsets

    support   itemsets
0       0.8        (3)
1       1.0        (5)
2       0.6        (6)
3       0.6        (8)
4       0.6       (10)
5       0.8     (3, 5)
6       0.6     (8, 3)
7       0.6     (5, 6)
8       0.6     (8, 5)
9       0.6    (10, 5)
10      0.6  (8, 3, 5)

In [11]:
# more human-friendly
frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)

frequent_itemsets

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Eggs, Kidney Beans)
6       0.6                (Eggs, Onion)
7       0.6         (Milk, Kidney Beans)
8       0.6        (Onion, Kidney Beans)
9       0.6       (Yogurt, Kidney Beans)
10      0.6  (Eggs, Onion, Kidney Beans)

In [13]:
# since we're using Pandas dataframe, we can select and filter result

# Add length column
frequent_itemsets['lengths'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))

frequent_itemsets

    support                     itemsets  lengths
0       0.8                       (Eggs)        1
1       1.0               (Kidney Beans)        1
2       0.6                       (Milk)        1
3       0.6                      (Onion)        1
4       0.6                     (Yogurt)        1
5       0.8         (Eggs, Kidney Beans)        2
6       0.6                (Eggs, Onion)        2
7       0.6         (Milk, Kidney Beans)        2
8       0.6        (Onion, Kidney Beans)        2
9       0.6       (Yogurt, Kidney Beans)        2
10      0.6  (Eggs, Onion, Kidney Beans)        3

In [16]:
# Get itemset with length = 2 and min support = 0.8

desired_itemsets = frequent_itemsets[(frequent_itemsets['lengths'] == 2 ) & (frequent_itemsets['support'] >= 0.8)]

desired_itemsets

   support              itemsets  lengths
5      0.8  (Eggs, Kidney Beans)        2

In [22]:
# Get itemset based on column values

desired_itemsets = frequent_itemsets[
    frequent_itemsets["itemsets"] == {"Eggs", "Onion"} # or {'Onion', 'Eggs'}
]  

desired_itemsets

   support       itemsets  lengths
6      0.6  (Eggs, Onion)        2

In [2]:
from pyarc import CBA, TransactionDB
import pandas as pd

data_train = pd.read_csv("/home/haianh/grad_project/ml-learning/data/iris.csv")
data_test = pd.read_csv("/home/haianh/grad_project/ml-learning/data/iris.csv")

txns_train = TransactionDB.from_DataFrame(data_train)
txns_test = TransactionDB.from_DataFrame(data_test)


cba = CBA(support=0.20, confidence=0.5, algorithm="m1")
cba.fit(txns_train)



accuracy = cba.rule_model_accuracy(txns_test) 
accuracy

0.8962962962962963

In [2]:
from pyarc import TransactionDB
from pyarc.algorithms import (
    top_rules,
    createCARs,
    M1Algorithm,
    M2Algorithm
)
import pandas as pd


data_train = pd.read_csv("/home/haianh/grad_project/ml-learning/data/iris.csv")
data_test = pd.read_csv("/home/haianh/grad_project/ml-learning/data/iris.csv")

txns_train = TransactionDB.from_DataFrame(data_train)
txns_test = TransactionDB.from_DataFrame(data_test)

# get the best association rules
rules = top_rules(txns_train.string_representation)

# convert them to class association rules
cars = createCARs(rules)

classifier = M1Algorithm(cars, txns_train).build()
# classifier = M2Algorithm(cars, txns_train).build()

accuracy = classifier.test_transactions(txns_test)

print(len(cars))

983

In [5]:
# Read data from csv file, change to respective datatypes based on scheme
import csv

def str2numerical(data, value_type):
    size = len(data)
    columns = len(data[0])
    for i in range(size):
        for j in range(columns-1):
            if value_type[j] == 'numerical' and data[i][j] != '?':
                data[i][j] = float(data[i][j])
    return data


def read_data(path):
    data = []
    with open(path, 'r') as csv_file:
        reader = csv.reader(csv_file, delimiter=',')
        for line in reader:
            data.append(line)
        while [] in data:
            data.remove([])
    return data

def read_scheme(path):
    with open(path, 'r') as csv_file:
        reader = csv.reader(csv_file, delimiter=',')
        attributes = next(reader)
        value_type = next(reader)
    return attributes, value_type

def read(data_path, scheme_path):
    data = read_data(data_path)
    attributes, value_type = read_scheme(scheme_path)
    data = str2numerical(data, value_type)
    return data, attributes, value_type

In [7]:
test_data_path = "/home/haianh/grad_project/CBA/datasets/iris.data"

test_scheme_path = "/home/haianh/grad_project/CBA/datasets/iris.names"

test_data, test_attributes, test_value_type = read(test_data_path, test_scheme_path)

test_data

[[5.1, 3.5, 1.4, 0.2, 'Iris-setosa'],
 [4.9, 3.0, 1.4, 0.2, 'Iris-setosa'],
 [4.7, 3.2, 1.3, 0.2, 'Iris-setosa'],
 [4.6, 3.1, 1.5, 0.2, 'Iris-setosa'],
 [5.0, 3.6, 1.4, 0.2, 'Iris-setosa'],
 [5.4, 3.9, 1.7, 0.4, 'Iris-setosa'],
 [4.6, 3.4, 1.4, 0.3, 'Iris-setosa'],
 [5.0, 3.4, 1.5, 0.2, 'Iris-setosa'],
 [4.4, 2.9, 1.4, 0.2, 'Iris-setosa'],
 [4.9, 3.1, 1.5, 0.1, 'Iris-setosa'],
 [5.4, 3.7, 1.5, 0.2, 'Iris-setosa'],
 [4.8, 3.4, 1.6, 0.2, 'Iris-setosa'],
 [4.8, 3.0, 1.4, 0.1, 'Iris-setosa'],
 [4.3, 3.0, 1.1, 0.1, 'Iris-setosa'],
 [5.8, 4.0, 1.2, 0.2, 'Iris-setosa'],
 [5.7, 4.4, 1.5, 0.4, 'Iris-setosa'],
 [5.4, 3.9, 1.3, 0.4, 'Iris-setosa'],
 [5.1, 3.5, 1.4, 0.3, 'Iris-setosa'],
 [5.7, 3.8, 1.7, 0.3, 'Iris-setosa'],
 [5.1, 3.8, 1.5, 0.3, 'Iris-setosa'],
 [5.4, 3.4, 1.7, 0.2, 'Iris-setosa'],
 [5.1, 3.7, 1.5, 0.4, 'Iris-setosa'],
 [4.6, 3.6, 1.0, 0.2, 'Iris-setosa'],
 [5.1, 3.3, 1.7, 0.5, 'Iris-setosa'],
 [4.8, 3.4, 1.9, 0.2, 'Iris-setosa'],
 [5.0, 3.0, 1.6, 0.2, 'Iris-setosa'],
 [5.0, 3.4, 1.6, 0.4, 'Iris-setosa'],
 [5.2, 3.5, 1.5, 0.2, 'Iris-setosa'],
 [5.2, 3.4, 1.4, 0.2, 'Iris-setosa'],
 [4.7, 3.2, 1.6, 0.2, 'Iris-setosa'],
 [4.8, 3.1, 1.6, 0.2, 'Iris-setosa'],
 [5.4, 3.4, 1.5, 0.4, 'Iris-setosa'],
 [5.2, 4.1, 1.5, 0.1, 'Iris-setosa'],
 [5.5, 4.2, 1.4, 0.2, 'Iris-setosa'],
 [4.9, 3.1, 1.5, 0.1, 'Iris-setosa'],
 [5.0, 3.2, 1.2, 0.2, 'Iris-setosa'],
 [5.5, 3.5, 1.3, 0.2, 'Iris-setosa'],
 [4.9, 3.1, 1.5, 0.1, 'Iris-setosa'],
 [4.4, 3.0, 1.3, 0.2, 'Iris-setosa'],
 [5.1, 3.4, 1.5, 0.2, 'Iris-setosa'],
 [5.0, 3.5, 1.3, 0.3, 'Iris-setosa'],
 [4.5, 2.3, 1.3, 0.3, 'Iris-setosa'],
 [4.4, 3.2, 1.3, 0.2, 'Iris-setosa'],
 [5.0, 3.5, 1.6, 0.6, 'Iris-setosa'],
 [5.1, 3.8, 1.9, 0.4, 'Iris-setosa'],
 [4.8, 3.0, 1.4, 0.3, 'Iris-setosa'],
 [5.1, 3.8, 1.6, 0.2, 'Iris-setosa'],
 [4.6, 3.2, 1.4, 0.2, 'Iris-setosa'],
 [5.3, 3.7, 1.5, 0.2, 'Iris-setosa'],
 [5.0, 3.3, 1.4, 0.2, 'Iris-setosa'],
 [7.0, 3.2, 4.7, 1.4, 'Iris-versicolor'],
 [6.4, 3.2, 4.5, 1.5, 'Iris-versicolor'],
 [6.9, 3.1, 4.9, 1.5, 'Iris-versicolor'],
 [5.5, 2.3, 4.0, 1.3, 'Iris-versicolor'],
 [6.5, 2.8, 4.6, 1.5, 'Iris-versicolor'],
 [5.7, 2.8, 4.5, 1.3, 'Iris-versicolor'],
 [6.3, 3.3, 4.7, 1.6, 'Iris-versicolor'],
 [4.9, 2.4, 3.3, 1.0, 'Iris-versicolor'],
 [6.6, 2.9, 4.6, 1.3, 'Iris-versicolor'],
 [5.2, 2.7, 3.9, 1.4, 'Iris-versicolor'],
 [5.0, 2.0, 3.5, 1.0, 'Iris-versicolor'],
 [5.9, 3.0, 4.2, 1.5, 'Iris-versicolor'],
 [6.0, 2.2, 4.0, 1.0, 'Iris-versicolor'],
 [6.1, 2.9, 4.7, 1.4, 'Iris-versicolor'],
 [5.6, 2.9, 3.6, 1.3, 'Iris-versicolor'],
 [6.7, 3.1, 4.4, 1.4, 'Iris-versicolor'],
 [5.6, 3.0, 4.5, 1.5, 'Iris-versicolor'],
 [5.8, 2.7, 4.1, 1.0, 'Iris-versicolor'],
 [6.2, 2.2, 4.5, 1.5, 'Iris-versicolor'],
 [5.6, 2.5, 3.9, 1.1, 'Iris-versicolor'],
 [5.9, 3.2, 4.8, 1.8, 'Iris-versicolor'],
 [6.1, 2.8, 4.0, 1.3, 'Iris-versicolor'],
 [6.3, 2.5, 4.9, 1.5, 'Iris-versicolor'],
 [6.1, 2.8, 4.7, 1.2, 'Iris-versicolor'],
 [6.4, 2.9, 4.3, 1.3, 'Iris-versicolor'],
 [6.6, 3.0, 4.4, 1.4, 'Iris-versicolor'],
 [6.8, 2.8, 4.8, 1.4, 'Iris-versicolor'],
 [6.7, 3.0, 5.0, 1.7, 'Iris-versicolor'],
 [6.0, 2.9, 4.5, 1.5, 'Iris-versicolor'],
 [5.7, 2.6, 3.5, 1.0, 'Iris-versicolor'],
 [5.5, 2.4, 3.8, 1.1, 'Iris-versicolor'],
 [5.5, 2.4, 3.7, 1.0, 'Iris-versicolor'],
 [5.8, 2.7, 3.9, 1.2, 'Iris-versicolor'],
 [6.0, 2.7, 5.1, 1.6, 'Iris-versicolor'],
 [5.4, 3.0, 4.5, 1.5, 'Iris-versicolor'],
 [6.0, 3.4, 4.5, 1.6, 'Iris-versicolor'],
 [6.7, 3.1, 4.7, 1.5, 'Iris-versicolor'],
 [6.3, 2.3, 4.4, 1.3, 'Iris-versicolor'],
 [5.6, 3.0, 4.1, 1.3, 'Iris-versicolor'],
 [5.5, 2.5, 4.0, 1.3, 'Iris-versicolor'],
 [5.5, 2.6, 4.4, 1.2, 'Iris-versicolor'],
 [6.1, 3.0, 4.6, 1.4, 'Iris-versicolor'],
 [5.8, 2.6, 4.0, 1.2, 'Iris-versicolor'],
 [5.0, 2.3, 3.3, 1.0, 'Iris-versicolor'],
 [5.6, 2.7, 4.2, 1.3, 'Iris-versicolor'],
 [5.7, 3.0, 4.2, 1.2, 'Iris-versicolor'],
 [5.7, 2.9, 4.2, 1.3, 'Iris-versicolor'],
 [6.2, 2.9, 4.3, 1.3, 'Iris-versicolor'],
 [5.1, 2.5, 3.0, 1.1, 'Iris-versicolor'],
 [5.7, 2.8, 4.1, 1.3, 'Iris-versicolor'],
 [6.3, 3.3, 6.0, 2.5, 'Iris-virginica'],
 [5.8, 2.7, 5.1, 1.9, 'Iris-virginica'],
 [7.1, 3.0, 5.9, 2.1, 'Iris-virginica'],
 [6.3, 2.9, 5.6, 1.8, 'Iris-virginica'],
 [6.5, 3.0, 5.8, 2.2, 'Iris-virginica'],
 [7.6, 3.0, 6.6, 2.1, 'Iris-virginica'],
 [4.9, 2.5, 4.5, 1.7, 'Iris-virginica'],
 [7.3, 2.9, 6.3, 1.8, 'Iris-virginica'],
 [6.7, 2.5, 5.8, 1.8, 'Iris-virginica'],
 [7.2, 3.6, 6.1, 2.5, 'Iris-virginica'],
 [6.5, 3.2, 5.1, 2.0, 'Iris-virginica'],
 [6.4, 2.7, 5.3, 1.9, 'Iris-virginica'],
 [6.8, 3.0, 5.5, 2.1, 'Iris-virginica'],
 [5.7, 2.5, 5.0, 2.0, 'Iris-virginica'],
 [5.8, 2.8, 5.1, 2.4, 'Iris-virginica'],
 [6.4, 3.2, 5.3, 2.3, 'Iris-virginica'],
 [6.5, 3.0, 5.5, 1.8, 'Iris-virginica'],
 [7.7, 3.8, 6.7, 2.2, 'Iris-virginica'],
 [7.7, 2.6, 6.9, 2.3, 'Iris-virginica'],
 [6.0, 2.2, 5.0, 1.5, 'Iris-virginica'],
 [6.9, 3.2, 5.7, 2.3, 'Iris-virginica'],
 [5.6, 2.8, 4.9, 2.0, 'Iris-virginica'],
 [7.7, 2.8, 6.7, 2.0, 'Iris-virginica'],
 [6.3, 2.7, 4.9, 1.8, 'Iris-virginica'],
 [6.7, 3.3, 5.7, 2.1, 'Iris-virginica'],
 [7.2, 3.2, 6.0, 1.8, 'Iris-virginica'],
 [6.2, 2.8, 4.8, 1.8, 'Iris-virginica'],
 [6.1, 3.0, 4.9, 1.8, 'Iris-virginica'],
 [6.4, 2.8, 5.6, 2.1, 'Iris-virginica'],
 [7.2, 3.0, 5.8, 1.6, 'Iris-virginica'],
 [7.4, 2.8, 6.1, 1.9, 'Iris-virginica'],
 [7.9, 3.8, 6.4, 2.0, 'Iris-virginica'],
 [6.4, 2.8, 5.6, 2.2, 'Iris-virginica'],
 [6.3, 2.8, 5.1, 1.5, 'Iris-virginica'],
 [6.1, 2.6, 5.6, 1.4, 'Iris-virginica'],
 [7.7, 3.0, 6.1, 2.3, 'Iris-virginica'],
 [6.3, 3.4, 5.6, 2.4, 'Iris-virginica'],
 [6.4, 3.1, 5.5, 1.8, 'Iris-virginica'],
 [6.0, 3.0, 4.8, 1.8, 'Iris-virginica'],
 [6.9, 3.1, 5.4, 2.1, 'Iris-virginica'],
 [6.7, 3.1, 5.6, 2.4, 'Iris-virginica'],
 [6.9, 3.1, 5.1, 2.3, 'Iris-virginica'],
 [5.8, 2.7, 5.1, 1.9, 'Iris-virginica'],
 [6.8, 3.2, 5.9, 2.3, 'Iris-virginica'],
 [6.7, 3.3, 5.7, 2.5, 'Iris-virginica'],
 [6.7, 3.0, 5.2, 2.3, 'Iris-virginica'],
 [6.3, 2.5, 5.0, 1.9, 'Iris-virginica'],
 [6.5, 3.0, 5.2, 2.0, 'Iris-virginica'],
 [6.2, 3.4, 5.4, 2.3, 'Iris-virginica'],
 [5.9, 3.0, 5.1, 1.8, 'Iris-virginica']]